:root {
    --cor-primaria: #A1DBB2;
    --cor-secundaria: #FEE5AD;
    --cor-hover: #3498db;
    --cor-card-font: #3498db;
    --font-default: #333;
    --dark-card-font: #26BFB0;   
    --white: white;
    
}